
body
{
    background-color: darkcyan;
}
.app{
    position: absolute;
    width: 75%;
    height: 500px;
    left: 25%;
    top: 100px;
}
.photos {
    border: solid red 1px;
    position: relative;
    width: 60%;
    height: 500px;
    transform: translate(-17%, 0);
    font-size: 12px;
    left: 100px;
    top: 0;
}
.b-f{
    position: relative;
    top: -40%;
}


